<p>Product Name: {{orderEvaluation.productName}}</p>
<p>Client: {{orderEvaluation.client}}</p>
<p>Client Ranking: {{orderEvaluation.clientRanking}}</p>
<p>Items: {{truncate(orderEvaluation.items)}}</p>
<p>Bonus: {{orderEvaluation.bonus}}</p>
<label for="comment-input">Comment: </label>
<input id="comment-input" type="text" [(ngModel)]="tempComment" (keydown.enter)="submit()" (keydown.escape)="cancel()">
<br>
<button class="btn-sm btn-danger" (click)="cancel()">Cancel</button>
<button class="btn-sm btn-primary" (click)="submit()">Submit</button>