<div *ngIf="canEdit">
    <label for="type">Type:</label>
    <br>
    <input id="type" type="text" [(ngModel)]="tempEvaluation.type">
    <br>
    <br>


    <label for="targetValue">Target Value:</label>
    <br>
    <input id="targetValue" type="number" min="0" max="5" [(ngModel)]="tempEvaluation.targetValue">
    <br>
    <br>

    <label for="actualValue">Actual Value:</label>
    <br>
    <input id="actualValue" type="number" min="0" max="5" [(ngModel)]="tempEvaluation.actualValue">
</div>

<div *ngIf="!canEdit && canComment">
    <p>Type: {{tempEvaluation.type}}</p>
    <p>Target Value: {{tempEvaluation.targetValue}}</p>
    <p>Actual Value: {{tempEvaluation.actualValue}}</p>
</div>
<br>
<br>
<p>Bonus: {{tempEvaluation.bonus}}</p>
<div *ngIf="canComment">
    <label for="commentInput">Comment: </label>
    <input id="commentInput" type="text" [(ngModel)]="tempEvaluation.comment" (keydown.enter)="submit()"
        (keydown.escape)="cancel()">
    <br>
</div>
<button class="btn-sm btn-danger" (click)="cancel()">Cancel</button>
<button class="btn-sm btn-primary" (click)="submit()">Submit</button>