/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.listItem {
    margin-top: 4px;
    margin-bottom: 4px;
}

.itemList {
    margin-right: 1em;
    margin-left: 1em;
}

.bi {
    cursor: pointer;
}