<label for="type">Type:</label>
<br>
<input id="type" type="text" [(ngModel)]="newSocialEvaluation.type">
<br>
<br>

<label for="targetValue">Target Value:</label>
<br>
<input id="targetValue" type="number" min="0" max="5" [(ngModel)]="newSocialEvaluation.targetValue">
<br>
<br>

<label for="actualValue">Actual Value:</label>
<br>
<input id="actualValue" type="number" min="0" max="5" [(ngModel)]="newSocialEvaluation.actualValue">
<br>
<br>

<button class="btn-sm btn-danger" (click)="cancel()">Cancel</button>
<button class="btn-sm btn-primary" (click)="submit()" [disabled]="validate()">Submit</button>