<h3 class="text-info">
    Create a new Record for the selected Year. <br>
    The Order Evaluation Scores will be imported if available.
</h3>
<div class="form-group">
    <label for="yearInput">Year:</label>
    <input type="number" min="2000" max="{{currentYear - 1}}" [(ngModel)]="inputYear" (keydown.enter)="submit(inputYear)"
        (keydown.escape)="cancel()">
</div>
<button type="cancel" class="btn btn-danger" (click)="cancel()">Cancel</button>
<button type="submit" class="btn btn-primary" (click)="submit(inputYear)" [disabled]="!inputYear">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Submit
</button>