<div id="content" class="border border-primary">

  <div class="border border-primary" id="employeeList" *ngIf="!isSalesman">
    <h2 class="text-info">Employees</h2>
    <app-employee></app-employee>

  </div>

  <div class="border border-primary" id="recordList" >
    <h2 class="text-info mb-0 pb-0">Records</h2>
    <br>
    <app-record></app-record>
  </div>

  <div class="border border-primary" id="recordDetailView">
    <app-details></app-details>
  </div>

</div>