div {
    overflow: auto
}

h2 {
    padding-left: 1em;
}

#content {
    display: flex;
    height: calc(100vh - 52px);
}

#employeeList {
    flex-grow: 1;
}

#recordList {
    flex-grow: 1;
}

#recordDetailView {
    flex-grow: 10;
}
