#employeeInfoBox {
    display: flex;
    max-width: fit-content;
    margin: 1em;
    padding: 5px;
}

#employeeInfoBox > div{
    flex-direction: column;
}

#employeeInfoBox > .left{
    margin-right: 1em;
}


article {
    overflow: auto;
}

table {
    width: 100%;
    min-width: 20vw;
    border: 1px solid grey;
}

.box {
    border: 1px solid black;
}

.evaluationBox {
    margin: 1em;
    padding: 5px;
}

.bonusBox {
    padding: 3px;
}