<div *ngIf="recordData">

  <div class="box" id="employeeInfoBox">
    <div class="left">
      <div>Name:</div>
      <div>Employee ID:</div>
      <div>Department:</div>
      <div>Year of Performance:</div>
    </div>
    <div class="right">
      <div>{{employeeName}}</div>
      <div>{{recordData.employeeId}}</div>
      <div>{{recordData.department}}</div>
      <div>{{recordData.year}}</div>
    </div>
  </div>

  <div class="box evaluationBox">
    <h2>A) Orders Evaluation</h2>

    <article>
      <table mat-table [dataSource]="recordData.orderEvaluations">
        <ng-container matColumnDef="{{col}}" *ngFor="let col of orderColumns">
          <th mat-header-cell *matHeaderCellDef>
            <span class="text-info" *ngIf="col !== 'editComment'">
              {{headerKeysToNamesMap.get(col)}}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="col !== 'editComment' && col !== 'items'">
              {{element[col]}}
            </span>
            <span *ngIf="col === 'items'">
              {{truncate(element[col])}}
            </span>
            <button class="btn-sm btn-primary" *ngIf="col === 'editComment' && canComment"
              (click)="editOrderEvaluation(element)">
              Comment
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:orderColumns;"></tr>
      </table>
    </article>
    <br>
    <span class="box bonusBox">Total Bonus for A): {{recordData.bonusA}} €</span>
  </div>

  <div class="box evaluationBox">
    <h2>B) Social Performance Evaluation</h2>

    <button class="btn-sm btn-primary" (click)="addSocialEvaluation()" *ngIf="canEdit">Add</button>

    <article>
      <table mat-table [dataSource]="recordData.socialPerformanceEvaluations">
        <ng-container matColumnDef="{{col}}" *ngFor="let col of socialColumns">
          <th mat-header-cell *matHeaderCellDef>
            <span class="text-info" *ngIf="col !== 'edit' && col !== 'delete'">
              {{headerKeysToNamesMap.get(col)}}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="col !== 'edit' && col !== 'delete'">
              {{element[col]}}
            </span>
            <button class="btn-sm btn-primary" *ngIf="col === 'edit' && (canEdit || canComment)"
              (click)="editSocialEvaluation(element)">
              {{canEdit === true ? 'Edit' : 'Comment'}}
            </button>
            <button class="btn-sm btn-primary" *ngIf="col === 'delete' && (canEdit)"
              (click)="deleteSocialEvaluation(element.type)">
              Delete
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="socialColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: socialColumns;"></tr>
      </table>
    </article>
    <br>
    <span class="box bonusBox">Total Bonus for B): {{recordData.bonusB}} €</span>
  </div>

  <span class="box bonusBox ml-1">Total Bonus (parts A and B): {{recordData.totalBonus}} €</span>
  <br>
  <br>
  <div class="ml-1 mr-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Remarks</span>
      </div>
      <textarea class="form-control" name="Remarks" id="remarksArea" [(ngModel)]="recordData.remarks"
        *ngIf="canComment"></textarea>
        <div class="form-control" *ngIf="!canComment">{{recordData.remarks}}</div>
    </div>
    <br>
    <div>
      <span class="text-danger" *ngIf="unsavedChanges">You have unsaved changes</span>
      <div class="float-right">
        <button class="btn-sm btn-primary" (click)="saveRecordAndCalcualateBonus()" *ngIf="canApprove">
          <span *ngIf="loadingSaveRemarks" class="spinner-border spinner-border-sm mr-1"></span>
          Save and calculate bonus</button>
        <button class="btn-sm btn-success" (click)="postRecord()" *ngIf="canApprove">
          <span *ngIf="loadingPostBonus" class="spinner-border spinner-border-sm mr-1"></span>
          Post bonus</button>
      </div>
    </div>
  </div>
</div>