<div class="form-group form-inline">
    <label for="filterBox" class="text-primary">Filter: </label>
    <input id="filterBox" type="text" (input)="applyFilterOnInput($event)">
    <i class="bi bi-arrow-clockwise text-primary ml-auto" title="Refresh Employees" (click)="refreshEmployees()"></i>
</div>

<div *ngIf="loading" class="text-center text-large">
    <span class="spinner-border spinner-border text-info"></span>
</div>

<ul class="list-group mb-1 itemList">
    <li class="btn btn-primary listItem" *ngFor="let employee of employees" [ngClass]="{'active': isSelected(employee)}"
        (click)="onSelect(employee)">
        {{employee.fullName}}
    </li>
</ul>