<nav class="navbar navbar-expand-sm bg-primary navbar-dark" *ngIf="user">
    <ul class="navbar-nav">
        <li>
            <a class="navbar-brand" href="/">High Performance</a>
        </li>
        <li>
            <a class="nav-link" href="/home">Home</a>
        </li>
    </ul>
    <div class="ml-auto">
        <span class="navbar-text text-white pr-2">Welcome {{user.firstName}} {{user.lastName}}</span>
        <button type="button" class="nav-item btn-secondary" (click)="logout()">Logout</button>
    </div>
</nav>
<router-outlet></router-outlet>