<div *ngIf="canAdd && employeeSelected()" class="text-center mb-2">
    <i class="bi bi-plus-square text-success" (click)="openAddRecordDialog()" title="Add Record"></i>
</div>

<div *ngIf="loading" class="text-center text-large">
    <span class="spinner-border spinner-border text-info"></span>
</div>

<ul class="list-group mb-1 itemList">
    <li class="btn btn-primary listItem" *ngFor="let record of records" [ngClass]="{'active': isSelected(record)}"
        (click)="selectRecord(record)">
        {{record.year}}
    </li>
</ul>